.footer{
    background: rgba(0,0,0,.9);
    color:white;
    padding: 50px 100px;
}
.footer .phoneNumbers{
    display:flex;
    justify-content:space-evenly;
    margin-bottom:70px;
}
.footer .phoneNumbers .name{
    font-size:1.1rem;
    margin-bottom:10px;
}

.footer .bottomInfo{
    display:flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1250px) {
    .footer{
        padding: 50px 40px;
    }

    .footer .phoneNumbers div{ 
        padding:0 0;
    }

    .footer .phoneNumbers .name{
        font-size:.8rem;
        margin-bottom:10px;
    }

    .footer .phoneNumbers .phone{
        font-size:.8rem;
        margin-bottom:10px;
    }
    
    .footer .bottomInfo{
        display:flex;
        flex-direction:column;
        text-align:center;
        font-size: .8rem;
    }

    .footer .bottomInfo .copyright{
        margin-bottom:20px;
    }

}